table.exhibitionsTable {
    border: 2px solid #A49339;
    background-color: #EDEE8F;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.exhibitionsTable td, table.exhibitionsTable th {
    border: 1px solid #2BA44D;
    padding: 3px 2px;
}
table.exhibitionsTable tbody td {
    font-size: 13px;
}
table.exhibitionsTable tr:nth-child(even) {
    background: #E6EE66;
}
table.exhibitionsTable thead {
    background: #2BA44D;
}
table.exhibitionsTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #2BA44D;
}
table.exhibitionsTable thead th:first-child {
    border-left: none;
}

table.exhibitionsTable tfoot {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background: #2BA44D;
}
table.exhibitionsTable tfoot td {
    font-size: 11px;
}
table.exhibitionsTable tfoot .links {
    text-align: right;
}
table.exhibitionsTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #13662C;
    padding: 2px 8px;
    border-radius: 5px;
}
button, input[type="button"], input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}